<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
	<meta name = "viewport" content = "width = device-width, initial-scale = 1, shrink-to-fit = no">
	<link href = "{{url_for('static',filename='css/bootstrap.css')}}" rel = "stylesheet" type = "text/css">
	<link href = "{{url_for('static',filename='fontawesome/css/all.css')}}" rel = "stylesheet" type = "text/css">
	<link href = "{{url_for('static',filename='stylesheet.css')}}" rel = "stylesheet" type = "text/css">
</head>
<body>
   
    <!-- <div class="row bgfooter"> -->
        <!-- footer col -->
        <!-- <div class="col d-md-flex my-5"> -->

            <!-- footer col 2 -->

            <!-- <div class="col">
                <div class="col"><img src="{{url_for('static',filename='imagepage1/haadu2.png')}}" alt = "Logo" class="img-fluid"></div>
            </div> -->

            <!-- footer col 2 -->
            <!-- <div class="col d-flex">
                <div class="col">
                    <h6 class="mb-3 text-white">Support</h6>
                    <a href="#" class="d-block orange mb-2">Contact Us</a>
                    <a href="#" class="d-block orange mb-2">FAQs</a>
                    <a href="#" class="d-block orange mb-2">Shipping & Returns</a>

                </div>
                <div class="col">
                    <h6 class="mb-3 text-white">Shop</h6>
                    <a href="#" class="d-block orange mb-2">Foods & Vegetables</a>
                    <a href="#" class="d-block orange mb-2">Live Stock</a>
                    <a href="#" class="d-block orange mb-2">Farming Tools</a>
                </div>
            </div> -->

            <!-- footer col 3 -->
<!-- 
            <div class="col d-flex">
                <div class="col">
                    <h6 class="mb-3 text-white">Company</h6>
                    <a href="#" class="d-block orange mb-2">About us</a>
                    <a href="#" class="d-block orange mb-2">Careers</a>
                    <a href="#" class="d-block orange mb-2">Terms and Conditions</a>
                    <a href="#" class="d-block orange mb-2">Privacy and Cookies policy</a>
                </div>
                <div class="col">
                    <h6 class="mb-3 text-white">Contact</h6>
                    <a href="#" class="d-block orange mb-2">+1 234 5677</a>
                    <a href="#" class="d-block orange mb-2">+1 234 5667</a>
                    <a href="#" class="d-block orange mb-2">help@haadu.com</a>
                </div>
            </div>
        </div>
    </div> -->

    <!-- all rights reserved -->

    <!-- <div class="row">
        <div class="col bg-secondary">
            <p class="text-center text-white">Designed by Omogbare Ekpenga &copy; 2022</p>
        </div>
    </div> -->
    

    
			<!-- <div class ="row">
				<div class="col">
					<a href="#" class="btn text-white form-control bgorange mt-3">Back to top</a>
				</div>
			</div> -->

			<!-- Do you want to catch us with the latest deals -->

			<div class="row bgfooter">

				<!-- Do you want to catch us with the latest deals - col-->
				<div class="col mb-3">

					<!-- Do you want to catch us with the latest deals -->
					<div class="col">
						<h3 class="text-white text-center my-5">Do you want to catch us with the latest deals</h3>
					</div>

					<!-- subscribe -->
					<div class="col d-md-flex justify-content-center">
						<div class="col-md-4 d-md-flex justify-content-center">
							<div class="col me-2">
								<input type="email" name="email" id="emailaddress" class="form-control bg-secondary">
							</div>
							<div class="col">	
								<button type="button" class="btn btn-success">Subscribe</button>
							</div>
						</div>
					</div>

				</div>
			</div>


			<!-- Footer -->

			<div class="row bgfooter">
				<!-- footer col -->
				<div class="col d-md-flex mb-5">

					<!-- footer col 2 -->

					<div class="col">
						<div class="col"><img src="{{url_for('static',filename='imagepage1/haadu2.png')}}" alt = "Logo" class="img-fluid"></div>
					</div>

					<!-- footer col 2 -->
					<div class="col d-flex">
						<div class="col">
							<h6 class="mb-3 text-white">Support</h6>
							<a href="#" class="d-block orange mb-2">Contact Us</a>
							<a href="#" class="d-block orange mb-2">FAQs</a>
							<a href="#" class="d-block orange mb-2">Shipping & Returns</a>

						</div>
						<div class="col">
							<h6 class="mb-3 text-white">Shop</h6>
							<a href="#" class="d-block orange mb-2">Foods and Vegetables</a>
							<a href="#" class="d-block orange mb-2">Live Stock</a>
							<a href="#" class="d-block orange mb-2">Farming Tools</a>
						</div>
					</div>

					<!-- footer col 3 -->

					<div class="col d-flex">
						<div class="col">
							<h6 class="mb-3 text-white">Company</h6>
							<a href="#" class="d-block orange mb-2">About us</a>
							<a href="#" class="d-block orange mb-2">Careers</a>
							<a href="#" class="d-block orange mb-2">Terms and Conditions</a>
							<a href="#" class="d-block orange mb-2">Privacy and Cookies policy</a>
						</div>
						<div class="col">
							<h6 class="mb-3 text-white">Contact</h6>
							<a href="#" class="d-block orange mb-2">+1 234 5677</a>
							<a href="#" class="d-block orange mb-2">+1 234 5667</a>
							<a href="#" class="d-block orange mb-2">help@haadu.com</a>
						</div>
					</div>
				</div>
                <div class="row">
                    <div class="col">
                        <p class="text-center text-white">Designed by Omogbare Ekpenga &copy; 2022</p>
                    </div>
                </div>
			</div>

			<!-- all rights reserved -->

			

    <script type="text/javascript" src="{{url_for('static',filename='jquery.3.6.0.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='jquery.3.6.0.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.bundle.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='script.js')}}"></script>
</body>
</html>