{% extends 'products/shopbase.html' %}
{% block title %}
    Vegetables
{% endblock %}

{% block category %}
    Grains, Legumes
{% endblock %}

{% block items %}
    <div class="col-6 col-md-6 col-lg-3 mb-3">
        <div><img src="{{url_for('static',filename='imagepage1/rice.jpg')}}" class="img-fluid"></div>
        <div class="col text-center mb-3 bg-white">
            <span class = "orange d-block">Grains, Legumes</span>
            <span class="d-block">White rice</span>
            <span class="d-block text-success h6">&#x20A6;700 Per KG</span>
            <a href="productpage.html" class="btn text-white bgorange mt-3 form-control">Shop</a>
        </div>
    </div>

    <div class="col-6 col-md-6 col-lg-3 mb-3">
        <div><img src="{{url_for('static',filename='imagepage1/rice.jpg')}}" class="img-fluid"></div>
        <div class="col text-center mb-3 bg-white">
            <span class = "orange d-block">Grains, Legumes</span>
            <span class="d-block">White rice</span>
            <span class="d-block text-success h6">&#x20A6;700 Per KG</span>
            <a href="productpage.html" class="btn text-white bgorange mt-3 form-control">Shop</a>
        </div>
    </div>

     <div class="col-6 col-md-6 col-lg-3 mb-3">
        <div><img src="{{url_for('static',filename='imagepage1/rice.jpg')}}" class="img-fluid"></div>
        <div class="col text-center mb-3 bg-white">
            <span class = "orange d-block">Grains, Legumes</span>
            <span class="d-block">White rice</span>
            <span class="d-block text-success h6">&#x20A6;700 Per KG</span>
            <a href="productpage.html" class="btn text-white bgorange mt-3 form-control">Shop</a>
        </div>
    </div>

    <div class="col-6 col-md-6 col-lg-3 mb-3">
        <div><img src="{{url_for('static',filename='imagepage1/rice.jpg')}}" class="img-fluid"></div>
        <div class="col text-center mb-3 bg-white">
            <span class = "orange d-block">Grains, Legumes</span>
            <span class="d-block">White rice</span>
            <span class="d-block text-success h6">&#x20A6;700 Per KG</span>
            <a href="productpage.html" class="btn text-white bgorange mt-3 form-control">Shop</a>
        </div>
    </div>

    <div class="col-6 col-md-6 col-lg-3 mb-3">
        <div><img src="{{url_for('static',filename='imagepage1/rice.jpg')}}" class="img-fluid"></div>
        <div class="col text-center mb-3 bg-white">
            <span class = "orange d-block">Grains, Legumes</span>
            <span class="d-block">White rice</span>
            <span class="d-block text-success h6">&#x20A6;700 Per KG</span>
            <a href="productpage.html" class="btn text-white bgorange mt-3 form-control">Shop</a>
        </div>
    </div>

    <div class="col-6 col-md-6 col-lg-3 mb-3">
        <div><img src="{{url_for('static',filename='imagepage1/rice.jpg')}}" class="img-fluid"></div>
        <div class="col text-center mb-3 bg-white">
            <span class = "orange d-block">Grains, Legumes</span>
            <span class="d-block">White rice</span>
            <span class="d-block text-success h6">&#x20A6;700 Per KG</span>
            <a href="productpage.html" class="btn text-white bgorange mt-3 form-control">Shop</a>
        </div>
    </div>

     <div class="col-6 col-md-6 col-lg-3 mb-3">
        <div><img src="{{url_for('static',filename='imagepage1/rice.jpg')}}" class="img-fluid"></div>
        <div class="col text-center mb-3 bg-white">
            <span class = "orange d-block">Grains, Legumes</span>
            <span class="d-block">White rice</span>
            <span class="d-block text-success h6">&#x20A6;700 Per KG</span>
            <a href="productpage.html" class="btn text-white bgorange mt-3 form-control">Shop</a>
        </div>
    </div>

    <div class="col-6 col-md-6 col-lg-3 mb-3">
        <div><img src="{{url_for('static',filename='imagepage1/rice.jpg')}}" class="img-fluid"></div>
        <div class="col text-center mb-3 bg-white">
            <span class = "orange d-block">Grains, Legumes</span>
            <span class="d-block">White rice</span>
            <span class="d-block text-success h6">&#x20A6;700 Per KG</span>
            <a href="productpage.html" class="btn text-white bgorange mt-3 form-control">Shop</a>
        </div>
    </div>

    <div class="col-6 col-md-6 col-lg-3 mb-3">
        <div><img src="{{url_for('static',filename='imagepage1/rice.jpg')}}" class="img-fluid"></div>
        <div class="col text-center mb-3 bg-white">
            <span class = "orange d-block">Grains, Legumes</span>
            <span class="d-block">White rice</span>
            <span class="d-block text-success h6">&#x20A6;700 Per KG</span>
            <a href="productpage.html" class="btn text-white bgorange mt-3 form-control">Shop</a>
        </div>
    </div>

    <div class="col-6 col-md-6 col-lg-3 mb-3">
        <div><img src="{{url_for('static',filename='imagepage1/rice.jpg')}}" class="img-fluid"></div>
        <div class="col text-center mb-3 bg-white">
            <span class = "orange d-block">Grains, Legumes</span>
            <span class="d-block">White rice</span>
            <span class="d-block text-success h6">&#x20A6;700 Per KG</span>
            <a href="productpage.html" class="btn text-white bgorange mt-3 form-control">Shop</a>
        </div>
    </div>

    <div class="col-6 col-md-6 col-lg-3 mb-3">
        <div><img src="{{url_for('static',filename='imagepage1/rice.jpg')}}" class="img-fluid"></div>
        <div class="col text-center mb-3 bg-white">
            <span class = "orange d-block">Grains, Legumes</span>
            <span class="d-block">White rice</span>
            <span class="d-block text-success h6">&#x20A6;700 Per KG</span>
            <a href="productpage.html" class="btn text-white bgorange mt-3 form-control">Shop</a>
        </div>
    </div>

    <div class="col-6 col-md-6 col-lg-3 mb-3">
        <div><img src="{{url_for('static',filename='imagepage1/rice.jpg')}}" class="img-fluid"></div>
        <div class="col text-center mb-3 bg-white">
            <span class = "orange d-block">Grains, Legumes</span>
            <span class="d-block">White rice</span>
            <span class="d-block text-success h6">&#x20A6;700 Per KG</span>
            <a href="productpage.html" class="btn text-white bgorange mt-3 form-control">Shop</a>
        </div>
    </div>
{% endblock %}