<div class="col-6 col-md-6 col-lg-2 mb-3">
    <div  class="min-height100"style="background: #fff url('imagepage1/chickens.jpg') no-repeat; background-size: cover;"></div>
    <div class="col text-center mb-3 bg-white">
        <span class = "orange d-block">LIVE STOCK</span>
        <span class="d-block">Broilers</span>
        <span class="d-block text-success h6">&#x20A6;1,200</span>
        <a href="productpage.html" class="btn text-white bgorange mt-3 form-control">Shop</a>
    </div>
</div>
<div class="col-6 col-md-6 col-lg-2 mb-3">
    <div  class="min-height100"style="background: #fff url('imagepage1/chickens.jpg') no-repeat; background-size: cover;"></div>
    <div class="col text-center mb-3 bg-white">
        <span class = "orange d-block">LIVE STOCK</span>
        <span class="d-block">Broilers</span>
        <span class="d-block text-success h6">&#x20A6;1,200</span>
        <a href="productpage.html" class="btn text-white bgorange mt-3 form-control">Shop</a>
    </div>
</div>
<div class="col-6 col-md-6 col-lg-2 mb-3">
    <div  class="min-height100"style="background: #fff url('imagepage1/chickens.jpg') no-repeat; background-size: cover;"></div>
    <div class="col text-center mb-3 bg-white">
        <span class = "orange d-block">LIVE STOCK</span>
        <span class="d-block">Broilers</span>
        <span class="d-block text-success h6">&#x20A6;1,200</span>
        <a href="productpage.html" class="btn text-white bgorange mt-3 form-control">Shop</a>
    </div>
</div>
<div class="col-6 col-md-6 col-lg-2 mb-3">
    <div  class="min-height100"style="background: #fff url('imagepage1/garri.jpg') no-repeat; background-size: cover;"></div>
    <div class="col text-center mb-3 bg-white">
        <span class = "orange d-block">FOOD AND VEGETABLE</span>
        <span class="d-block">Garri</span>
        <span class="d-block text-success h6">&#x20A6;500 per KG</span>
        <a href="productpage.html" class="btn text-white bgorange mt-3 form-control">Shop</a>
    </div>
</div>

<div class="col-6 col-md-6 col-lg-2 mb-3">
    <div  class="min-height100"style="background: #fff url('imagepage1/chickens.jpg') no-repeat; background-size: cover;"></div>
    <div class="col text-center mb-3 bg-white">
        <span class = "orange d-block">LIVE STOCK</span>
        <span class="d-block">Broilers</span>
        <span class="d-block text-success h6">&#x20A6;1,200</span>
        <a href="productpage.html" class="btn text-white bgorange mt-3 form-control">Shop</a>
    </div>
</div>

<div class="col-6 col-md-6 col-lg-2 mb-3">
    <div  class="min-height100"style="background: #fff url('imagepage1/sheep.jpg') no-repeat; background-size: cover;"></div>
    <div class="col text-center mb-3 bg-white">
        <span class = "orange d-block">LIVE STOCK</span>
        <span class="d-block">Adult Ewe</span>
        <span class="d-block text-success h6">&#x20A6;22,200</span>
        <a href="productpage.html" class="btn text-white bgorange mt-3 form-control">Shop</a>
    </div>
</div>
</div>

<div class="row px-5">
<div class="col-6 col-md-6 col-lg-2 mb-3">
    <div  class="min-height100"style="background: #fff url('imagepage1/sheep.jpg') no-repeat; background-size: cover;"></div>
    <div class="col text-center mb-3 bg-white">
        <span class = "orange d-block">LIVE STOCK</span>
        <span class="d-block">Adult Ewe</span>
        <span class="d-block text-success h6">&#x20A6;22,200</span>
        <a href="productpage.html" class="btn text-white bgorange mt-3 form-control">Shop</a>
    </div>
</div>
<div class="col-6 col-md-6 col-lg-2 mb-3">	
    <div  class="min-height100"style="background: #fff url('imagepage1/sheep.jpg') no-repeat; background-size: cover;"></div>
    <div class="col text-center mb-3 bg-white">
        <span class = "orange d-block">LIVE STOCK</span>
        <span class="d-block">Adult Ewe</span>
        <span class="d-block text-success h6">&#x20A6;22,200</span>
        <a href="productpage.html" class="btn text-white bgorange mt-3 form-control">Shop</a>
    </div>
</div>
<div class="col-6 col-md-6 col-lg-2 mb-3">
    <div  class="min-height100"style="background: #fff url('imagepage1/garri.jpg') no-repeat; background-size: cover;"></div>
    <div class="col text-center mb-3 bg-white">
        <span class = "orange d-block">FOOD AND VEGETABLE</span>
        <span class="d-block">Garri</span>
        <span class="d-block text-success h6">&#x20A6;500 per KG</span>
        <a href="productpage.html" class="btn text-white bgorange mt-3 form-control">Shop</a>
    </div>
</div>

<div class="col-6 col-md-6 col-lg-2 mb-3">
    <div  class="min-height100"style="background: #fff url('imagepage1/sheep.jpg') no-repeat; background-size: cover;"></div>
    <div class="col text-center mb-3 bg-white">
        <span class = "orange d-block">LIVE STOCK</span>
        <span class="d-block">Adult Ewe</span>
        <span class="d-block text-success h6">&#x20A6;22,200</span>
        <a href="productpage.html" class="btn text-white bgorange mt-3 form-control">Shop</a>
    </div>
</div>
<div class="col-6 col-md-6 col-lg-2 mb-3">	
    <div  class="min-height100"style="background: #fff url('imagepage1/garri.jpg') no-repeat; background-size: cover;"></div>
    <div class="col text-center mb-3 bg-white">
        <span class = "orange d-block">FOOD AND VEGETABLE</span>
        <span class="d-block">Garri</span>
        <span class="d-block text-success h6">&#x20A6;500 per KG</span>
        <a href="productpage.html" class="btn text-white bgorange mt-3 form-control">Shop</a>
    </div>
</div>
<div class="col-6 col-md-6 col-lg-2 mb-3">	
    <div  class="min-height100"style="background: #fff url('imagepage1/garri.jpg') no-repeat; background-size: cover;"></div>
    <div class="col text-center mb-3 bg-white">
        <span class = "orange d-block">FOOD AND VEGETABLE</span>
        <span class="d-block">Garri</span>
        <span class="d-block text-success h6">&#x20A6;500 per KG</span>
        <a href="productpage.html" class="btn text-white bgorange mt-3 form-control">Shop</a>
    </div>
</div>
</div>

<div class="row px-5">
<div class="col-6 col-md-6 col-lg-2 mb-3">
    <div  class="min-height100"style="background: #fff url('imagepage1/beans.jpg') no-repeat; background-size: cover;"></div>
    <div class="col text-center bg-white">
        <span class = "orange d-block">FOOD AND VEGETABLE</span>
        <span class="d-block">String Beans</span>
        <span class="d-block text-success h6">&#x20A6;1,200 per KG</span>
        <a href="#" class="btn text-white bgorange mt-3 form-control">Shop</a>
    </div>
</div>

<div class="col-6 col-md-6 col-lg-2 mb-3">
    <div  class="min-height100"style="background: #fff url('imagepage1/chickens.jpg') no-repeat; background-size: cover;"></div>
    <div class="col text-center bg-white">
        <span class = "orange d-block">LIVE STOCK</span>
        <span class="d-block">Broilers</span>
        <span class="d-block text-success h6">&#x20A6;1,200</span>
        <a href="#" class="btn text-white bgorange mt-3 form-control">Shop</a>
    </div>
</div>

<div class="col-6 col-md-6 col-lg-2 mb-3">
    <div  class="min-height100"style="background: #fff url('imagepage1/sheep.jpg') no-repeat; background-size: cover;"></div>
    <div class="col text-center bg-white">
        <span class = "orange d-block">LIVE STOCK</span>
        <span class="d-block">Adult Ewe</span>
        <span class="d-block text-success h6">&#x20A6;22,200</span>
        <a href="#" class="btn text-white bgorange mt-3 form-control">Shop</a>
    </div>
</div>


<div class="col-6 col-md-6 col-lg-2 mb-3">
    <div  class="min-height100"style="background: #fff url('imagepage1/tomatoes.jpg') no-repeat; background-size: cover;"></div>
    <div class="col text-center bg-white">
        <span class = "orange d-block">FOOD AND VEGETABLE</span>
        <span class="d-block">Tomatoes</span>
        <span class="d-block text-success h6">&#x20A6;500 per KG</span>
        <a href="#" class="btn text-white bgorange mt-3 form-control">Shop</a>
    </div>
</div>

<div class="col-6 col-md-6 col-lg-2 mb-3">
    <div  class="min-height100"style="background: #fff url('imagepage1/beans.jpg') no-repeat; background-size: cover;"></div>
    <div class="col text-center bg-white">
        <span class = "orange d-block">FOOD AND VEGETABLE</span>
        <span class="d-block">String Beans</span>
        <span class="d-block text-success h6">&#x20A6;1,200 per KG</span>
        <a href="#" class="btn text-white bgorange mt-3 form-control">Shop</a>
    </div>
</div>

<div class="col-6 col-md-6 col-lg-2 mb-3">
    <div  class="min-height100"style="background: #fff url('imagepage1/chickens.jpg') no-repeat; background-size: cover;"></div>
    <div class="col text-center bg-white">
        <span class = "orange d-block">LIVE STOCK</span>
        <span class="d-block">Broilers</span>
        <span class="d-block text-success h6">&#x20A6;1,200</span>
        <a href="#" class="btn text-white bgorange mt-3 form-control">Shop</a>
    </div>
</div>
</div>

{% endblock %}