{%extends 'products/productpage.html'%}

{% block cate%}
{% for i,j in prod_view%}
{{j.category_name}}
{%endfor%}
{%endblock%}

{% block prod %}
{% for i,j in prod_view%}
{{i.product_name}}

{%endfor%}
{%endblock%}
{% block img %}
{% for i,j in prod_view %}
	<img src="{{url_for('static', filename='uploads/'+i.product_img)}}" alt="Chicken" class="img-fluid p-3">
{%endfor%}
{%endblock%}
					
{%block details%}
{% for i,j in prod_view %}

	<h5 class="lead text-success"> {{i.product_name}}</h5>
	<p><span class="orange d-inline-block">CATEGORY:</span> {{j.category_name}}</p>
	<p><span class="orange d-inline-block">Vendor: </span> <a href="/product/vendor/{{i.pvendview.vendorid}}">{{i.pvendview.vendor_name}}</a> |
		<a href="/product/vendor/{{i.pvendview.vendorid}}">More from {{i.pvendview.vendor_name}}</a>
	</p>
	<p>
		<i class="fa-solid fa-star orange"></i>
		<i class="fa-solid fa-star orange"></i>
		<i class="fa-solid fa-star orange"></i>
		<i class="fa-solid fa-star orange"></i>
		<i class="fa-solid fa-star text-secondary"></i>
	</p>
{%endfor%}
{%endblock%}

{% block add %}
{% for i,j in prod_view %}

	<form action="/addcart" method="post">
	<div class="">
		<div class="">
			<div>
				<!-- <button id ="subtraction" type="button" class="btn btn-success dis disabled"><i class="fa-solid fa-minus text-white"></i></button> -->
				<input type="hidden" name="product" value="{{i.productid}}" id="prod">
				<input type="hidden" name="price" value="{{i.price}}">
				<input type="hidden" name="csrf_token" id="csrf_token" value="{{csrf_token()}}">
				<input id="number" name ="quantity" class="d-inline-block mx-3" style="border:none;width: 16px;">
				<!-- <button id="addition" type="button" class="btn btn-success"><i class="fa-solid fa-plus text-white"></i></button> -->
			</div>
		</div>
		
		<small class="d-block orange">Amount would be per KG for where applicable</small>
		<div class="modal-footer d-flex justify-content-between">
		</div>
	</div>
	<div>
	<button class="btn bgorange text-white d-inline-block form-control">
		
		Add to Cart <i class="fa-solid fa-cart-arrow-down text-white"></i></button>

	</div>
	<!-- /product/detail/{{i.productid}} -->
	<!-- <button type="button" class="btn form-control bgorange" id="add"> 
		<span class="text-white">ADD TO CART</span>
		<i class="fa-solid fa-cart-arrow-down text-white"></i>
	</button> -->
</form>
{% endfor %}
{% endblock %}
						
{% block more %}
{% for i,j in prod_view %}
	<h5>&#x20A6; {{"{:,.2f}".format(i.price)}}<span id="price"class="visually-hidden">{{i.price}}</span></h5>
    <small>price is per KG where applicable </small>
	<small>
	+ shipping base fee of &#x20A6;500 within lagos and &#x20A6;100 for every 1kg above 10kg. See 
	<a href="#">shipping fees and
	policies for further information.
	</a>
	</small>
{% endfor %}
{%endblock%}
						
{%block third%}
{% for i,j in prod_view %}
	<li><span class="orange">Product Line:</span> {{j.category_name}}</li>
	<li><span class="orange">Name:</span> {{i.product_name}}</li>
{% endfor %}
{% for i in vendy %}
	<li><span class="orange">Production Country:</span> Nigeria</li>
	<li><span class="orange">State: </span>{{i.stateview.state_name}}</li>
{% endfor %}
{%endblock%}

{% block desc %}
{% for i,j in prod_view %}
{{i.product_description}}							
{%endfor%}	
{%endblock%}	

{% block modal %}
			
{% endblock %}

{% block javascript %}
<script type="text/javascript">	
	
		// var plus = document.getElementById("addition");
		// var minus = document.getElementById("subtraction");
		var content = document.getElementById("number");
		var proceed = document.getElementById("proceed1")
		var productid = $("#prod").val()
		count = 0;

		function changelocation(){
			window.location.replace(`http://127.0.0.1:7777/product/detail/${productid}`)
		}
		
		// $(document).ready(function(){
		// 	$('#proceed1').click(function(){
		// 		var price = $('#price').val();
		// 		var csrf = $('#csrf_token').val();
		// 		var data2send = {"productid":productid,"price":price,"csrf":csrf}

		// 		$.ajax({
		// 			url:"/addcart",
		// 			data:data2send,
		// 			type:"post",
		// 			dataType:"text",
		// 			success:function(rsp){

		// 			},
		// 			error:function(error_msg){

		// 			}
		// 		});
		// 	});
		// });
		// 	$('#addition').click(function(){
		// 		count = count+1;
		// 		$('#number').val(count);
		// 		if(count > 0){
		// 			$('.dis').removeClass('disabled')
		// 		}else(
		// 			$('.dis').addClass('disabled')
		// 		);
		// 		var addNo = $('#number').val();
		// 		var prod = $('#prod').val();
		// 		var price = $('#price').html();
		// 		var csrf = $('#csrf_token').val();
		// 		var data2send = {"prodNo":addNo,"prodid":prod,"price":price,"csrf":csrf};
		// 		$.ajax({
		// 				url:"/add_num",
		// 				data:data2send,
		// 				type:"get",
		// 				dataType:"text",
		// 				success:function(server_response){
		// 					alert(server_response)
		// 				},
		// 				error:function(error_msg){
		// 				 	alert("Not done")
		// 					console.log(error_msg)
		// 				}
		// 		});
		// 	});

		// 	$('#subtraction').click(function(){
		// 		count = count - 1;
		// 		$('#number').val(count);
		// 		if(count > 0){
		// 			$('.dis').removeClass('disabled')
		// 		}else(
		// 			$('.dis').addClass('disabled')
		// 		);
		// 		var addNo = $('#number').val(); //this is the quantity of the product. 
		// 		var prod = $('#prod').val(); //this is the product id
		// 		var csrf = $('#csrf_token').val();
		// 		var data2send = {"prodNo":addNo,"prodid":prod,"csrf":csrf};
		// 		$.ajax({
		// 				url:"",
		// 				data:data2send,
		// 				type:"get",
		// 				dataType:"text",
		// 				success:function(server_response){
		// 					alert("Hello")
		// 				},
		// 				error:function(error_msg){
		// 				 	alert("error_msg")
		// 					console.log(error_msg)
		// 				}
		// 		});
		// 	})
		// });
		

	</script>
{% endblock %}