<!Doctype html>
<html lang="en">
	<head>
		<title>Haadu | Receipt </title>
		<meta charset = "UTF-8">
		<meta name = "viewport" content = "width = device-width, initial-scale = 1, shrink-to-fit = no">
		<link href = "{{url_for('static',filename='css/bootstrap.css')}}" rel = "stylesheet" type = "text/css">
		<link href = "{{url_for('static',filename='fontawesome/css/all.css')}}" rel = "stylesheet" type = "text/css">
		<link href = "{{url_for('static',filename='stylesheet.css')}}" rel = "stylesheet" type = "text/css">

	</head>
	<body>
		<div class="container-fluid bg-light">

			<!-- 1st Nav -->

			<div id = "first-nav" class="row">
				<div class="col"><nav class="navbar navbar-expand-lg navbar-light bg-white">
				  <div class="container-fluid">
				    <a class="navbar-brand" href="#"><img src="{{url_for('static',filename='imagepage1/haadu2.png')}}" alt="logo" class="" height="50"><span class="visually-hidden">Navbar</span></a>
				    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				      <span class="navbar-toggler-icon"></span>
				    </button>

				    <div class="collapse navbar-collapse" id="navbarSupportedContent">
						
						<p class="d-inline-block text-success ms-5 mt-3">Welcome, {{loggedin}}</p>
						
				      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
				      	<li class="nav-item">
				        	<a class="nav-link" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
				        		<i class="fa-solid fa-eye orange"></i>
 								View Profile 
 							</a>
				        </li>
				        <li class="nav-item">
				        	<a class="nav-link active" aria-current="page" href="{{url_for('shop')}}">
				        		<i class="fa-solid fa-shop"></i>
				          		Go to shop
				      		</a>
				        </li>
  
                        <li class="nav-item">
				        	<a class="nav-link active" aria-current="page" href="/user/logout">
				        		<i class="fa-solid fa-right-from-bracket"></i>
				        		Logout
				        	</a>
				        </li>  
				      </ul>
				    	<i class="fa-brands fa-facebook orange d-inline-block mx-3"></i>
						<i class="fa-brands fa-twitter orange d-inline-block mx-3"></i>
						<i class="fa-brands fa-instagram orange d-inline-block mx-3"></i>
						<i class="fa-brands fa-google-plus-g orange d-inline-block mx-3"></i>  
				    </div>
				  </div>
				</nav>
				</div>	
			</div>

			<!-- dashboard -->
			<!-- <div class="row px-5">
				<div>
					<p class="lead text-success"><a href="{{url_for('user_profile')}}">My Account</a></p>
				</div>
				<div class="col-12 d-md-flex justify-content-around border py-3 bg-white">
					<div class="col-12 col-md-2 p-3 mb-3 rounded text-center ">
						<a href="{{url_for('pending_order')}}" class="btn btn-success d-inline-block lead">Checkout</a>	
					</div>

					<div class="col-12 col-md-2 p-3 mb-3 rounded text-center ">
						<a href="{{url_for('open_orders')}}" class="btn btn-success d-inline-block lead">Open Orders ({{ord1}})</a>	
					</div>
					
					<div class="col-12 col-md-2 p-3 mb-3 rounded text-center ">
						<a href="{{url_for('completed_order')}}" class="btn btn-success d-inline-block lead">Closed Orders ({{ord2}})</a>	
					</div>
	
				</div>	
			</div> -->
           
			<div class="row px-5">
				{% block table%}
                    <div class="col reciept mb-3">
                        <div>
                            <p><b>Order Number: {{orderno}} </b></p>
                            <p>Transaction ref: {{paymentref1}}</p>
                            <p>Payment date: {{pydate.strftime("%d %b %Y")}} {{pydate.strftime('%I:%M%p')}}</p>
                            <p>Customer's name: {{firstname}} {{lastname}}</p>
                            <p>Customer's phone: {{phone}}</p>
                            <p>Shipping address: {{address}}</p>
                        </div>
                        
                        {% for py,us,ord,od,pr in trxn_deets %}
                        <p>Product Name:{{pr.product_name}}</p>
                        {% endfor %}
                        
                        <div>
                            <p class="lead" style="font-weight: bold;">Total: &#x20A6;{{"{:,.2f}".format(total)}}</p>
                        </div>
                        
                        <button onclick="display()" class="btn btn-success">Click to Print</button>
                        
                    </div>
				{%endblock%}	
                
                
			</div>
		


			<!-- Footer -->

			<div class="row bgfooter">
				<!-- footer col -->
				<div class="col d-md-flex my-5">

					<!-- footer col 2 -->

					<div class="col">
						<div class="col"><img src="{{url_for('static',filename='imagepage1/haadu2.png')}}" alt = "Logo" class="img-fluid"></div>
					</div>

					<!-- footer col 2 -->
					<div class="col d-flex">
						<div class="col">
							<h6 class="mb-3 text-white">Support</h6>
							<a href="#" class="d-block orange mb-2">Contact Us</a>
							<a href="#" class="d-block orange mb-2">FAQs</a>
							<a href="#" class="d-block orange mb-2">Shipping & Returns</a>

						</div>
						<div class="col">
							<h6 class="mb-3 text-white">Shop</h6>
							<a href="#" class="d-block orange mb-2">Foods and Vegetables</a>
							<a href="#" class="d-block orange mb-2">Live Stock</a>
							<a href="#" class="d-block orange mb-2">Farming Tools</a>
						</div>
					</div>

					<!-- footer col 3 -->

					<div class="col d-flex">
						<div class="col">
							<h6 class="mb-3 text-white">Company</h6>
							<a href="#" class="d-block orange mb-2">About us</a>
							<a href="#" class="d-block orange mb-2">Careers</a>
							<a href="#" class="d-block orange mb-2">Terms and Conditions</a>
							<a href="#" class="d-block orange mb-2">Privacy and Cookies policy</a>
						</div>
						<div class="col">
							<h6 class="mb-3 text-white">Contact</h6>
							<a href="#" class="d-block orange mb-2">+1 234 5677</a>
							<a href="#" class="d-block orange mb-2">+1 234 5667</a>
							<a href="#" class="d-block orange mb-2">help@haadu.com</a>
						</div>
					</div>
				</div>
			</div>

			<!-- all rights reserved -->

			<div class="row">
				<div class="col bg-secondary p-3">
					<p class="text-center text-white">Designed by Omogbare Ekpenga &copy; 2022</p>
				</div>
			</div>

			

						
			    </div>
			  </div>
			</div>
			<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
			  <div class="offcanvas-header">
			    <h5 class="offcanvas-title display-6" id="offcanvasExampleLabel">My Profile</h5>
			    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			  </div>
			  <div class="offcanvas-body">
			  	<div>
						<div class="card col-12">
						 <div class="card-header bg-success pt-5">
							
						   <i class="fa-solid fa-user d-inline-block white me-1"></i> <span class="text-white d-inline-block lead">{{loggedin}}</span>
						   
						  </div>
						  <ul class="list-group list-group-flush">
						    <li class="list-group-item"><i class="fa-solid fa-pen d-inline-block orange me-1 lead"></i><a href="/user/profile/edit" class="d-inline-block lead">Update Profile</a></li>
							<li class="list-group-item"><i class="fa-solid fa-box d-inline-block orange me-1 lead"></i><a href="/user/order/view" class="d-inline-block lead">My Orders<span class="badge bg-danger">{{ord3}}</span></a></li>
							<li class="list-group-item"><i class="fa-solid fa-cart-arrow-down orange me-1 lead"></i><a href="/user/cart/view" class="d-inline-block lead">My Cart</a></li>
							<li class="list-group-item"><i class="fa-solid fa-envelope orange lead"></i> <a href="/user/inbox/" class="d-inline-block lead">Inbox</a></li>
						    <li class="list-group-item"><i class="fa-solid fa-location-dot orange me-1 lead"></i> <a href="/user/shipping/address" class="d-inline-block lead">Shipping Address</a></li>
						    <li class="list-group-item"><i class="fa-solid fa-key orange lead"></i> <a href="/user/password/change" class="d-inline-block lead">Change password</a></li>	
						    <li class="list-group-item"><i class="fa-solid fa-xmark orange me-1 lead"></i> <a href="/user/account/close" onclick="return confirm('Do you want to close your account?')" class="d-inline-block lead">Close Account</a></li>
						  </ul>

					
						  <div class="card-footer bgorange">
						    <i class="fa-solid fa-right-from-bracket d-inline-block me-1 white"></i><a href="/user/logout" class="d-inline-block text-white">Log out</a>
						  </div>
						</div>
					</div>  
			   
			  </div>
			</div>
		</div>
		<!-- JS Files *best practice is to add your files yourself. For the CDN route, you'll be required to have internet connection. The popper js is in the bundle.js file.*-->

		<script type="text/javascript" src="{{url_for('static',filename='jquery.3.6.0.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static',filename='jquery.3.6.0.min.js')}}"></script>
		<script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
		<script src="{{url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.bundle.js')}}"></script>
		{% block custom_script %}
            <script type="text/javascript">
                var reciept = document.getElementsByClassName("reciept");
                function display(){
                    window.print(reciept)
                }
            </script>
		{% endblock %}
	</body>
</html>