{% extends 'user/useraccount.html'%}

{% block table%}
	<div>
		<h1 class="display-6 text-success">Open Orders</h1>
	</div>
	{% set msg = get_flashed_messages()%}
	{% if msg %}
	<span class="alert alert-danger">{{msg[0]}}</span>
	{% endif %}

	{% if order %}
	{% for or,od,pr,py in order %}
		<hr>
		<div class="d-flex my-3">
			<div class="me-5">
				<img src="{{url_for('static', filename='uploads/'+pr.product_img)}}"  alt="{{pr.product_name}}" height="100" width="150">
			</div>
			<div>
				<p class="lead">Product name: {{pr.product_name}}</p>
				<p>Quantity: {{od.quantity}}</p>
				<p>Amount: &#x20A6;{{"{:,.2f}".format(od.price)}}</p>
                <p>Order number: {{or.orderref}}</p>
				{%if or.orderstatus == "Processing" %}
				<p>Order Status: <span class="badge bg-primary">{{or.orderstatus}}</span></p>
				{% else %}
				<p>Order Status: <span class="badge bg-warning">{{or.orderstatus}}</span></p>
				{% endif %}
				{% if py.paymentstatus == "Paid" %}
                <p>Paymnent status: <span class="badge bg-success">{{py.paymentstatus}}</span></p>
				{% elif py.paymentstatus == "Pending" %}
                <p>Paymnent status: <span class="badge bg-warning">{{py.paymentstatus}}</span></p>
				{% else %}
                <p>Paymnent status: <span class="badge bg-danger">{{py.paymentstatus}}</span></p>
				{% endif %}
                <p>Order date: {{or.orderdate.strftime('%d %B %Y')}} {{or.orderdate.strftime('%I:%M%p')}}</p>
				<p>Feedback: {{or.message}}</p>
			</div>	
		</div>
	{% endfor %}
	<hr>
	{% else %}
	<div class="d-flex justify-content-center my-5">
		<div class="col-6 text-center">
			<h1 class="lead">You currently do not have any open orders</h1>
			<a href="{{url_for('shop')}}" class="btn bgorange text-white">Go to shop</a>
		</div>	
	</div>
	{% endif %}
{%endblock%}	

{% block custom_script %}

{% endblock %}